.container{
    border: 1px solid grey;
    margin-bottom: 50px;
}
.image{
    max-width: 100%;
}
.profiledata{
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}
.postHeader{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.icon{
    width: 30px;
    margin-top: 10px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.postTitle{
    margin: 0 0 15px 15px;
}
.likeCommentShare{
    display: flex;
    gap: 15px;
    margin: 10px 0 0 10px;
}
.iconContainer{
    display: flex;
    justify-content: space-between;
}
.savedIcon{
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
}
.options{
    display: flex;
    flex-direction: row;
}